#testa{
    background-image: url(../img/pattern.png);
    background-color:#4EA0FF;

}
#logo{
    }

#monitor{
    margin: 0px;
    background-image: url(../img/monitor.jpg);
    background-repeat: no-repeat;
    color: #FFFF;


}
#graph{
    background-image: url(../img/graph.jpg);
    background-repeat: no-repeat;
    color: #FFFF;
}
.evidenziatore{
    background-color: #ffee00;
}

.tab{
    background-color: #20a9e5;
    color: white;
}
.tab1{
    background-color: #b1e5f2;
}
.prima{
    width: 23%;
}
.seconda{
    width: 23%;
}
.terza{
    width: 49%;
}